@use 'variables' as *;



@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin bold-header_mobile {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
}

@mixin body-footer_mobile {
	font-size: .8125rem;
	line-height: 1.125rem;
	font-weight: 400;
}


@mixin tablet-subheader_text {
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
}

