@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirSemibold";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirBolder";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Avenir";
}

.site-header {
  background: #323232;
  padding-top: 1rem;
}
.site-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 767px;
}
@media screen and (min-width: 768px) {
  .site-header__wrapper {
    flex-direction: row;
    margin: 0 2.25rem;
  }
}

@media screen and (min-width: 768px) {
  .site-logo {
    padding-right: 3rem;
  }
}
.site-logo__bandsite {
  max-width: 120px;
  max-height: 20px;
}

.nav-list__item-link {
  color: white;
  text-decoration: none;
  display: inline-flex;
}

.nav-font {
  font-weight: 100;
}
.nav {
  display: flex;
  width: 100%;
  justify-content: center;
}
.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    justify-content: flex-start;
  }
}
.nav-list__item {
  width: 50%;
  padding-top: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav-list__item {
    width: auto;
    padding-right: 2rem;
  }
}
.nav-list__item-link {
  text-decoration: none;
  border-width: 100%;
  color: #E1E1E1;
  font-size: 0.875rem;
}

.banner {
  background-image: url(../assets/images/hero-bio.jpg);
  background-blend-mode: overlay #323232;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 15rem;
}
@media screen and (min-width: 768px) {
  .banner {
    height: 35rem;
  }
}
.banner-container {
  color: white;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .banner-container {
    margin: 0 2.25rem;
    padding: 0;
  }
}
.banner-container__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .banner-container__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

.bio {
  box-sizing: border-box;
}
.bio-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 0 1rem;
  margin: 24px 0 16px 0;
}
@media screen and (min-width: 768px) {
  .bio-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin: 0 2.25rem;
    padding: 0;
  }
}
.bio-content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .bio-content {
    padding: 1rem 6rem;
  }
}
.bio-content__caption {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.bio-content-image__img {
  width: 100%;
  height: 100%;
}
.bio .article-content__title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.bio .article-content__paragraph {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .bio .article-content__paragraph {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    gap: 1.5rem;
  }
}

.card-section {
  background-color: #FAFAFA;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .card-section {
    padding: 0;
  }
}
.card-section__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .card-section__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin: 0 2.25rem;
    padding: 0;
  }
}
.card-section__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .card-section__container {
    margin: 0 2.25rem;
  }
}

.card {
  width: 100%;
  padding-bottom: 0.5rem;
}
.card-image {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .card {
    width: 32%;
  }
}
@media screen and (min-width: 1280px) {
  .card {
    width: 32%;
  }
}

footer {
  background-color: #323232;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
  }
}
.footer-social__logo {
  padding-right: 2rem;
  height: 1.5rem;
}
.footer-contact {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer-logo {
  padding-top: 2rem;
}
.footer-copyright {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}/*# sourceMappingURL=bio.css.map */