@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;


* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
	width: 100%;
}

.site-header {
  background: #323232;
  width: 100%;
    
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 767px;
        
    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

.site-logo, .primary-nav__link, .primary-nav__item {
  color: white;
  text-decoration: none;
  display: inline-flex;
}

.primary-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  &__title {
    display: flex;
    // border: 1px black solid;
    width: 100%;
    justify-content: center;
  }
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;

    @include tablet {
      display: flex;
      justify-content: flex-start;
    }
  }  
}


.banner {
  background-image: url(../assets/images/hero-bio.jpg);
  background-blend-mode: overlay #323232 ;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 15rem;

  // &-title {
  //   color: white;
  //   justify-items: center;
  //   vertical-align: middle;
  // }
}

.main {
	margin: 0 2rem;
	// padding: 1.5rem 0 1rem 0;

	&-bio {
		padding-top: 0.5rem;
		// padding-bottom: 1rem;
		&__img {
			position: relative;
			width: 100%;
			&-band {
				position: absolute;
				width: 100%;
			}
		}
	}
}
// .main-bio__img {
// 	position: relative;
// 	width: 100%;

// 	.main-bio__img-band {
// 		position: absolute;
// 		width: 100%;
// 	}
// }