@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirSemibold";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirBolder";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Avenir";
}

.site-header {
  background: #323232;
  padding-top: 16px;
}
.site-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 47.9375rem;
}
@media screen and (min-width: 768px) {
  .site-header__wrapper {
    flex-direction: row;
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .site-header__wrapper {
    margin: 0 7rem;
  }
}

.site-logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .site-logo {
    max-width: 7.5rem;
    max-height: 1.25rem;
  }
}
.site-logo__bandsite {
  max-width: 7.5rem;
  max-height: 1.25rem;
}

.nav-list__item-link {
  color: white;
  text-decoration: none;
  display: inline-flex;
}

.nav-font {
  font-weight: 100;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: center;
}
.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    justify-content: flex-start;
    padding-left: 3rem;
  }
}
.nav-list__item {
  width: 50%;
  padding-top: 0;
  text-align: center;
}
.nav-list__item:hover {
  transition: 0.5s;
  transition-timing-function: ease;
  border-bottom: white solid 3px;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .nav-list__item {
    width: auto;
    margin-right: 32px;
  }
}
.nav-list__item-link {
  text-decoration: none;
  color: #E1E1E1;
}

.banner {
  background-image: linear-gradient(0deg, rgba(50, 50, 50, 0.438), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  background-blend-mode: overlay #323232;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 240px;
}
@media screen and (min-width: 768px) {
  .banner {
    height: 560px;
  }
}
.banner-container {
  color: white;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .banner-container {
    margin: 0 2.25rem;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .banner-container {
    margin: 0 7rem;
  }
}
.banner-container__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .banner-container__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}

.bio {
  box-sizing: border-box;
}
.bio-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 0 16px;
  margin: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .bio-title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    margin: 0 2.25rem;
    padding: 3rem 0 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .bio-title {
    margin: 0 7rem;
  }
}
.bio-content {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .bio-content {
    padding: 0 6rem 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-content {
    padding: 0 12rem 1rem;
  }
}
.bio-content__caption {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.bio-content-image__img {
  width: 100%;
  height: 100%;
}
.bio .article-content__title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.bio .article-content__paragraph {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .bio .article-content__paragraph {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .caption__font {
    font-size: 1.125rem;
  }
}

.card-section {
  background-color: #FAFAFA;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .card-section {
    padding: 0;
  }
}
.card-section__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .card-section__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin: 0 2.25rem;
    padding: 2.25rem 0 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .card-section__title {
    margin: 0 7rem;
  }
}
.card-section__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .card-section__container {
    margin: 0 2.25rem;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .card-section__container {
    margin: 0 7rem;
  }
}

.card {
  width: 100%;
  padding-bottom: 0.5rem;
  filter: grayscale(100%);
}
.card:hover {
  filter: grayscale(0%);
}
.card-image {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .card {
    width: 32%;
  }
}
@media screen and (min-width: 1280px) {
  .card {
    width: 32%;
  }
}

.site-comment {
  padding: 0 1rem;
}
.site-comment__title {
  margin: 1rem 0;
}

.form {
  display: flex;
  flex-direction: row;
  font-size: 13px;
}
.form-image {
  max-width: 2.25rem;
  max-height: 2.25rem;
  border-radius: 50%;
  margin-top: 1.375rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 16px;
}
.form-container__item {
  color: #AFAFAF;
  line-height: 1.125rem;
  font-weight: 600;
}
.form-container__text {
  margin: 0.25rem 0 1rem;
}

input[type=text] {
  min-height: 36px;
  border-radius: 4px;
  border-color: rgb(225, 225, 225);
  border-width: 0.0625rem;
  padding: 0.75rem;
}

button {
  height: 2.5rem;
  background-color: #323232;
  color: white;
  border-radius: 4px;
}

hr {
  border-top: 1px solid #AFAFAF;
  margin: 1rem 0;
}

footer {
  background-color: #323232;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 0;
  }
}

.footer {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin: 0 2.25rem;
    box-sizing: border-box;
    position: relative;
    padding: 2.25rem 0 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    margin: 0 7rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-top {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.footer-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer-social {
    padding-left: 2rem;
  }
}
.footer-social__logo {
  padding-right: 2rem;
  height: 1.5rem;
}
.footer-contact {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer-contact {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contact {
    display: flex;
    flex-direction: column;
    width: 65%;
  }
}
.footer-contact__details {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer-contact__details {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer-logo {
    box-sizing: border-box;
    position: absolute;
    top: 4.3rem;
    right: 0;
  }
}
.footer-copyright {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}/*# sourceMappingURL=bio.css.map */