@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;


* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
	width: 100%;
	font-family: 'Avenir Next';
}

.site-header {
  background: #323232;
  width: 100%;
	@include bold-header_mobile;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 767px;

    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

.site-logo, .primary-nav__link, .primary-nav__item {
  color: white;
  text-decoration: none;
  display: inline-flex;
	padding-top: 1rem;
}

.primary-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  &__title {
    display: flex;
    // border: 1px black solid;
    width: 100%;
    justify-content: center;
  }
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;

    @include tablet {
      display: flex;
      justify-content: flex-start;
    }
  }  
}


.banner {
  background-image: url(../assets/images/hero-bio.jpg);
  background-blend-mode: overlay #323232 ;
  background-position: center;
  background-size: cover;
  display: flex;
	align-items: center;  
  height: 15rem;

  &-title {
		@include bold-header_mobile;
    color: white;
  }
}


.bio {
  box-sizing: border-box;

  &-title {
    @include bold-header_mobile;
    padding: 1rem;
  }

  &-content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

		&__caption {
			font-size: 14px;
			line-height: 22px;
			font-weight: 600;
		}

    &-image {
      // position: relative;
      width: 100%;

      &__img {
				// position: absolute;
      	width: 100%;
        height: auto;
				// display: block;
      }
    }
  }

	.article {
	
		&-content {
	
			&__title {
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
}

.card-section {
	background-color: #FAFAFA;
	padding: 1rem;
	&__title {
		@include bold-header_mobile;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}

.card {
	width: 100%;
	padding-bottom: 1rem;
	
	&-image {
		width: 100%;
		height: auto;
	}

	@include tablet {
		width: 30%;
	}
	@include desktop {
		width: 30%;
	}
	
}