@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;




* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
	width: 100%;
	font-family: 'Avenir Next';
}

.site-header {
  background: #323232;
  // width: 100%;
	// @include bold-header_mobile;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 767px;


    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

.site-logo__title {
  margin-bottom: 0;
	font-size: 1.5rem;
	line-height: 1.25rem;

	@include tablet {
		padding-bottom: 1rem;
	}
}


.site-logo, .nav-list__item-link {
  color: white;
  text-decoration: none;
  display: inline-flex;
}

.font-light {
	font-weight: 100;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  // &-title {
  //   display: flex;
  //   width: 100%;
  // }
  &-list {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
		margin: 0;

		@include tablet {
      display: flex;
      justify-content: flex-start;
    }

		&__item {
			width: 50%;
			padding-top: 0;
			text-align: center;
			// border-bottom: white 3px solid;

			&-link {
				text-decoration: none;
				border-width: 100%;
			}
		}
  }  
}


.banner {
  background-image: url(../assets/images/hero-bio.jpg);
  background-blend-mode: overlay #323232 ;
  background-position: center;
  background-size: cover;
  display: flex;
	align-items: center;  
  height: 15rem;

  &-container {
		// @include bold-header_mobile;
    color: white;
		padding: 0 1rem;

		&__title {
			@include tablet {
				font-size: 3.75rem;
				line-height: 4.25rem;
				font-weight: 700;
			}
		}
  }
}


.bio {
  box-sizing: border-box;

  &-title {
    @include bold-header_mobile;
    padding: 0 1rem;

		@include tablet {
			font-size: 2.25rem;
			line-height: 2.75rem;
			font-weight: 600;
		}
  }

  &-content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

		&__caption {
			font-size: 14px;
			line-height: 22px;
			font-weight: 600;
		}

    &-image {
      // position: relative;
      width: 100%;

      &__img {
				// position: absolute;
      	width: 100%;
        height: auto;
				// display: block;
      }
    }
  }

	.article {
	
		&-content {
	
			&__title {
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
}

.card-section {
	background-color: #FAFAFA;
	padding: 1rem;
	&__title {
		@include bold-header_mobile;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}

.card {
	width: 100%;
	padding-bottom: 0.5rem;
	
	&-image {
		width: 100%;
		height: auto;
	}

	@include tablet {
		width: 30%;
	}
	@include desktop {
		width: 30%;
	}
}

footer {
	background-color: #323232;
	color: white;
	display: flex;
	flex-direction: column;
}