@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;

$tablet-margin: 0 2.25rem;
$padding-abhealine: 3rem 0 2.25rem 0;

$desktop-margin: 0 7rem;

* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
	width: 100%;
	font-family: 'Avenir';
}

.site-header {
  background: #323232;
	padding-top: 16px;
	
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 47.9375rem;

    @include tablet {
      flex-direction: row;
			margin: $tablet-margin;
    }

		@include desktop {
			margin: $desktop-margin;
		}
  }
}

.site-logo {
	max-width: 7.5rem;
	max-height: 1.25rem;
	@include tablet {
		max-width: 7.5rem;
		max-height: 1.25rem;
	}
	&__bandsite {
		max-width: 7.5rem;
		max-height: 1.25rem;
	}
}


.nav-list__item-link {
  color: white;
  text-decoration: none;
  display: inline-flex;
}

.nav-font {
	font-weight: 100;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: center;

  &-list {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
		margin: 0;

		@include tablet {
      display: flex;
			justify-content: flex-start;
			padding-left: 3rem;
    }

		&__item {
			width: 50%;
			padding-top: 0;
			text-align: center;

			&.current-page {
				font-weight: bolder;
				border-bottom: white solid 3px;

			}
			
			&:hover {
				transition: 0.5s;
				transition-timing-function: ease;
				border-bottom: white solid 3px;
				color: white;
				font-weight: bold;
			}


			@include tablet {
				width: auto;
				margin-right: 32px;
			}

			&-link {
				text-decoration: none;
				color: #E1E1E1;	

				
			}
		}
  }  
}


footer {
	background-color: #323232;
	color: white;
	display: flex;
	flex-direction: column;
	padding: .75rem;

	@include tablet {
		padding: 0;
	}
}

.footer {
	background-color: #323232;
	@include tablet {
		display: flex;
		flex-direction: column;
		margin: $tablet-margin;
		box-sizing: border-box;
		position: relative;
		padding: 2.25rem 0 2.25rem 0;
	}
	@include desktop {
		margin: $desktop-margin;
	}

	&-top {
		@include tablet {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}

	&-title {
		@include tablet-subheader_text;
	}

	&-social {
		@include tablet {
			padding-left: 2rem;
		}

		&__logo {
			padding-right: 2rem;
			height: 1.5rem;
		}
	}
	&-contact {
		font-size: .8125rem;
		line-height: 1.125rem;

		@include tablet {
			font-size: .875rem;
			line-height: 1.25rem;
			font-weight: 400;
		}
		@include desktop {
			display: flex;
			flex-direction: column;
			width: 65%;
		}

		&__details {
			padding-bottom: 2rem;

			@include tablet {
				display: flex;
				justify-content: space-between;
			}
		}
	}
	&-logo {
		@include tablet {
			box-sizing: border-box;
			position: absolute;
			top: 4.3rem;
			right: 0;
		}
	}
	&-copyright {
		font-size: .8125rem;
		line-height: 1.125rem;

	}
}