@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirSemibold";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirBolder";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Avenir";
}

.site-header {
  background: #323232;
  padding-top: 16px;
}
.site-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 47.9375rem;
}
@media screen and (min-width: 768px) {
  .site-header__wrapper {
    flex-direction: row;
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .site-header__wrapper {
    margin: 0 7rem;
  }
}

.site-logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .site-logo {
    max-width: 7.5rem;
    max-height: 1.25rem;
  }
}
.site-logo__bandsite {
  max-width: 7.5rem;
  max-height: 1.25rem;
}

.nav-list__item-link {
  color: white;
  text-decoration: none;
  display: inline-flex;
}

.nav-font {
  font-weight: 100;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: center;
}
.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    justify-content: flex-start;
    padding-left: 3rem;
  }
}
.nav-list__item {
  width: 50%;
  padding-top: 0;
  text-align: center;
}
.nav-list__item.current-page {
  font-weight: bolder;
  border-bottom: white solid 3px;
}
.nav-list__item:hover {
  transition: 0.5s;
  transition-timing-function: ease;
  border-bottom: white solid 3px;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .nav-list__item {
    width: auto;
    margin-right: 32px;
  }
}
.nav-list__item-link {
  text-decoration: none;
  color: #E1E1E1;
}

footer {
  background-color: #323232;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 0;
  }
}

.footer {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin: 0 2.25rem;
    box-sizing: border-box;
    position: relative;
    padding: 2.25rem 0 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    margin: 0 7rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-top {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.footer-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer-social {
    padding-left: 2rem;
  }
}
.footer-social__logo {
  padding-right: 2rem;
  height: 1.5rem;
}
.footer-contact {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer-contact {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contact {
    display: flex;
    flex-direction: column;
    width: 65%;
  }
}
.footer-contact__details {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer-contact__details {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer-logo {
    box-sizing: border-box;
    position: absolute;
    top: 4.3rem;
    right: 0;
  }
}
.footer-copyright {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}/*# sourceMappingURL=global.css.map */